/* ওয়েলকাম স্ক্রিনের ভেতরের ক্লোজ বাটন স্টাইল */
.welcome-box .close-btn {
    background: transparent;
    border: 1px solid #a072ff;
    color: #a072ff;
    padding: 6px 18px;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 13px;
    transition: 0.3s ease;
}

.welcome-box .close-btn:hover {
    background: #6f42c1;
    color: white;
    border-color: #6f42c1;
}
